$menuActiveScale: 1.1;

.sm-container {
  height: 100vh;
  display: flex;
  align-items: center;
  .sm-map-bg {
    max-width: 390px;
    margin: 0 auto;
    transition: all 0.5s;
    img {
      width: 148%;
      transform: translateX(-11%);
    }
  }
  .sm-map-bg-sky {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    transition: all 0.5s;

    img {
      position: absolute;
      &:nth-child(1) {
        z-index: 1;
      }
      &:nth-child(2) {
        z-index: 2;
        width: 100%;
        bottom: 0;
      }
      &:nth-child(3) {
        z-index: 3;
        width: 100%;
        bottom: 0;
      }
    }
  }

  .sm-map-menu-overlay {
    // background: #ccccff4d;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 320px;
      max-height: 600px;
      width: 100%;
      height: 100%;
      // background: #edaded6e;
      transform: translate(-50%, -50%);
      >div {
        position: absolute;
        cursor: pointer;
        // background: #5124514d;
        span {
          background: #13072396;
          padding: 2px 9px;
          font-size: 14px;
          border-radius: 4px;
          position: absolute;
          opacity: 0;
          transform: scale(0.3);
          transition: all 0.5s;
          color: #fff;
        }
      }
    }
    &__menu--item-1 {
      // background: #5124514d;
      top: 21%;
      left: 5%;
      width: 58px;
      height: 79px;
      span {
        right: 35px;
        top: -24px;
      }
    }
    &__menu--item-2 {
      // background: #5124510e;
      top: 13%;
      left: 70%;
      width: 58px;
      height: 72px;
      span {
        right: -67px;
      }
    }
    &__menu--item-3 {
      // background: #5124510e;
      top: 35%;
      left: 30%;
      width: 58px;
      height: 72px;
      span {
        right: 50px;
      }
    }
    &__menu--item-4 {
      // background: #5124510e;
      top: 2%;
      left: 6%;
      width: 67px;
      height: 72px;
      span {
        right: -59px;
      }
    }
    &__menu--item-5 {
      // background: #5124510e;
      top: 19%;
      left: 46%;
      width: 67px;
      height: 72px;
      span {
        right: 37px;
      }
    }


    &__menu--item-6 {
      // background: #5124510e;
      top: 32%;
      left: 45%;
      width: 82px;
      height: 52px;
      span {
        right: -84px;
      }
    }






  }

  .sm-map-top-menu {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
    cursor: pointer;
    img {
      height: 50px;
    }
  }

  .sm-map-items {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 390px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    img {
      position: absolute;
      width: 145%;
      left: 50%;
      transition: all 0.5s;
      &:nth-child(1) {
        transform: translate(-45%, 8%);
      }
      &:nth-child(2) {
        transform: translate(-45%, 7%);
      }
      &:nth-child(3) {
        transform: translate(-42%, 8%);
      }
      &:nth-child(4) {
        transform: translate(-45%, 7%);
      }
      &:nth-child(5) {
        transform: translate(-50%, 4%);
      }
      &:nth-child(6) {
        transform: translate(-50%, 4%);
      }



    }

  }
}


.menu-clicked {
  .sm-map-bg-sky {
    filter: grayscale(100%) blur(4px);
  }

  .sm-map-bg {
    filter: grayscale(70%);
    transform: scale($menuActiveScale);
  }

  .sm-map-items {
    transform: translate(-50%, -50%) scale($menuActiveScale);
    img {
      filter: brightness(1.3);
    }
  }
  .sm-map-menu-overlay {
    span {
      opacity: 1 !important;
      transform: scale(1) !important;
    }
  }

}