.main-bg {
  position: relative;
  &__img {
    height: 100%;
    position: relative;
    z-index: 1;
    animation: islandEntrance 1s;
    transition: 2s ease;
    img {
      width: 100%;
      margin: 0 auto;
      display: block;
      height: 100%;
      max-width: 950px;
      transition: all 0.3s;
    }
  }
  &__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 950px;
  }
  &__asset-items {
    position: absolute;
    top: 0;
    width: 100%;
    img {
      width: 100%;
      margin: 0 auto;
      display: block;
      height: 100%;
      max-width: 950px;
      transition: all 0.5s ease;

    }
    .item-hovered {
      // animation: mymove 0.5s infinite alternate-reverse;
      transform: scale(1.02);
      filter: brightness(1.4);
    }
  }

  &__asset-items--purle-friend {
    animation: purpleANim 20s infinite alternate-reverse;
  }

  &__purple-friend {
    position: absolute;
  }

}

@keyframes purpleANim {
  0% {
    transform: scale(0.5) translate(0, 0);
  }
  25% {
    transform: scale(0.6) translate(-35px, 60px);
  }
  50% {
    transform: scale(0.7) translate(-185px, 185px);
  }
  75% {
    transform: scale(0.6) translate(-55px, 85px);
  }
  100% {
    transform: scale(0.5) translate(0, 0);
  }


}

.main-bg.item-hovered {
  .main-bg__img {
    >img {
      filter: blur(13px);
      filter: grayscale(0.8);
    }
  }
}

.menu-options {
  position: absolute;
  z-index: 2;
  // background: rgba(217, 217, 217, 0.219);
  // background: #25254380;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 950px;
  left: 50%;
  transform: translateX(-50%);


  &__item {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #a71a1a4b;
    cursor: pointer;
    .menu-tip {
      position: absolute;
      top: 0;
      .menu-tip__info {
        position: absolute;
        padding: 14px 23px;
        transform: translate(0%, -100%);
        opacity: 0;
        transition: all 0.4s ease;
        background: rgb(59, 59, 59);
        pointer-events: none;
        h4 {
          margin: 0 0;
          font-size: 16px;
        }
        p {
          margin: 0 0;
          white-space: nowrap;
          color: #ccc;
          font-size: 13px;
        }
      }
    }
  }
  .item-hovered {
    .menu-tip {
      display: block;
      .menu-tip__info {
        transform: translate(40%, -100%);
        opacity: 1;
      }
    }
  }
  &__item--i1 {
    left: 55%;
    top: 12%;
    width: 90px;
    height: 90px;
    // background: rgb(186, 36, 36);

  }
  &__item--i2 {
    left: 20%;
    top: 17%;
    width: 98px;
    height: 149px;
    // background: #fcc;
  }
  &__item--i3 {
    left: 42%;
    top: 18%;
    width: 73px;
    height: 98px;
  }


}



.main-bg__sky {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 1.3s ease;
  >img {
    position: absolute;
    top: 0;
  }
  .mb-sk-1 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .mb-sk-2 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .mb-sk-3 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .mb-sk-2 {
    animation-name: cloudAnim_1;
    animation-duration: 18s;
    animation-timing-function: ease;
    // animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }

}


@keyframes cloudAnim_1 {
  0% {
    transform: scale(1) translateX(0);
  }
  25% {
    transform: scale(1.03) translateX(5px);
  }
  50% {
    transform: scale(1.05) translateX(15px);
  }
  75% {
    transform: scale(1.02) translateX(5px);
  }
  75% {
    transform: scale(1) translateX(0);
  }

}

.fs-blsp-1 {}

.main-bg__sky.item-hovered {
  filter: blur(5px) grayscale(0.3);
  opacity: 0.5;
  transform: scale(1.1);
}



.front-spites {
  position: absolute;
  top: 0;
  z-index: 2;
  transition: all 1s ease;
  width: 1920px;
  left: 50%;
  transform: scale(1) translateX(-50%);

  img {
    width: 100%;
  }
  .fs-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .fs-sp-1 {
    animation-name: fs_cloud_anim_1;
    animation-name: cloudAnim_1;
    animation-duration: 18s;
    animation-timing-function: ease;
    // animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }

  .fs-blsp-1 {
    animation: fs_baloon_sp1 10s infinite alternate forwards;
  }

  .fs-blsp-2 {
    animation: fs_baloon_sp1 12s infinite alternate forwards;
  }
  .fs-blsp-3 {
    animation: fs_baloon_sp1 15s infinite alternate forwards;
  }



}

@keyframes fs_cloud_anim_1 {
  0% {
    transform: scale(1) translateX(0);
  }
  25% {
    transform: scale(1.03) translateX(5px);
  }
  50% {
    transform: scale(1.05) translateX(15px);
  }
  75% {
    transform: scale(1.02) translateX(5px);
  }
  75% {
    transform: scale(1) translateX(0);
  }

}

@keyframes fs_baloon_sp1 {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1) translate(5px, 20px);
  }
  75% {
    transform: scale(1) translate(15px, -10px);
  }
  75% {
    transform: scale(1) translate(5px, 10px);
  }
}

@keyframes fs_baloon_sp2 {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1) translate(-5px, 20px);
  }
  75% {
    transform: scale(1) translate(5px, -10px);
  }
  75% {
    transform: scale(1) translate(7px, 5px);
  }
}
@keyframes fs_baloon_sp3 {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1) translate(5px, 20px);
  }
  75% {
    transform: scale(1) translate(15px, -10px);
  }
  75% {
    transform: scale(1) translate(5px, 10px);
  }
}


@keyframes islandEntrance {
  0% {
    transform: translate(0, 4%);
  }
  100% {
    transform: translate(0, 0);
  }
}





.front-spites.item-hovered {
  filter: blur(9px);
  opacity: 0.1;
  transform: scale(1.1) translateX(-46%);

}

// .menu-options__item--i1:hover+.main-bg__img .ai-1 {
//   transform: scale(2);
// }




.wallet-options {
  position: fixed;
  right: 22px;
  top: 22px;
  z-index: 11;
}