@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Cinzel', serif;
  overflow: hidden;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #37053d;
    overflow: hidden;
  }
}

.ts1 {
  &:hover {
    cursor: pointer;
  }
}

.main-bg img {
  width: 100%;
}

p,
h4 {
  font-family: 'Cinzel', serif;
}